/* This file contains styles for the footer. All key aspects are tokenized with fullbacks just in case ChampCSS is not being used */

.site-footer {
  --site-footer-padding: var(--section-padding-md, 4rem);
  --site-footer-gutter: var(--gutter, 2rem);
  --site-footer-base-bg-color: var(--surface, #111);
  --site-footer-base-bg-color-lightness: 15%;
  --site-footer-bg: color-mix(
    in srgb,
    var(--site-footer-base-bg-color) var(--site-footer-base-bg-color-lightness),
    transparent
  );
  --site-footer-text-color: var(--black, #000);
  --site-footer-mixed-bg-color: var(--white, #fff);
  --site-footer-font-size: var(--fs-h4, 2.2806rem);
  --site-footer-card-gap: var(--card-gap, 1.5rem);
  --site-footer-content-gap: var(--content-gap, 2.5rem);
  --site-footer-content-group-gap: var(--gap-sm, 1rem);
  --site-footer-nav-gap: var(--gap-sm, 1rem);
  --site-footer-card-line-width: 2px;
  --site-footer-active-font-weight: var(--fw-bold, 700);
  background: var(--site-footer-bg);
}

.site-footer [aria-current="page"] {
  font-weight: var(--site-footer-active-font-weight);
}

.site-footer__inner {
  padding-block: var(--site-footer-padding);
  padding-inline: var(--site-footer-gutter);
  display: grid;
  gap: var(--site-footer-content-gap);
}

.site-footer__body {
  display: grid;
  gap: var(--site-footer-content-gap);
  grid-template-columns: var(--grid-3c, repeat(3, 1fr));
}

.site-footer__content-group {
  display: grid;
  gap: var(--site-footer-content-group-gap);
  align-items: center;
}

.site-footer__content-group-heading {
  font-size: var(--site-footer-font-size);
}

.site-footer__nav-list {
  display: grid;
  gap: var(--site-footer-nav-gap);
}

.site-footer__card {
  display: grid;
  gap: var(--site-footer-card-gap);
}

.site-footer__card-title {
  font-size: var(--site-footer-font-size);
}

.site-footer__card-description {
  margin: 0 auto;
}

.site-footer__feature-cards {
  display: grid;
  gap: var(--site-footer-card-gap);
  grid-template-columns: var(--grid-3, repeat(3, 1fr));
}

.site-footer__feature-card-title {
  font-size: var(--site-footer-font-size);
}

.site-footer__feature-card-title::before {
  content: "";
  display: block;
  block-size: var(--site-footer-card-line-width);
  inline-size: 100%;
  background: var(--site-footer-text-color);
  margin-block: var(--site-footer-content-group-gap);
}

.site-footer__feature-card-description {
  margin: 0 auto;
}

.site-footer__bottom-bar {
  --site-footer-base-bg-color-lightness: 30%;
  background: color-mix(
    in srgb,
    var(--site-footer-base-bg-color) var(--site-footer-base-bg-color-lightness),
    var(--site-footer-mixed-bg-color)
  );
  padding-block: calc(var(--site-footer-padding) / 4.5);
}
